<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Homepagecss.css">
    <script src="https://kit.fontawesome.com/2360843bb3.js" crossorigin="anonymous"></script>
    <title>Resume Parser</title>
</head>
<body>
  
        <div class="logo">
      <ul>
          <li class="logo1"><a href="/"><i class="fa-brands fa-microsoft"></i></a></li>
          <li class="logo1"><a href="/upload2"><img src="static\image\4.png" class="home"></a></li>
          <li class="logo1"><a href="/table"><img src="static\image\3.png" class="candiate"></a></li>
          <li class="logo1"><a href="/statistic"><img src="static\image\1.png" class="statistic"></a></li>
          <li class="logo1"><a href="#"><img src="static\image\2.png" class="setting1"></a></li>
          <li class="logo1"><a href="#"><img src="static\image\5.png" class="setting"></a></li>
          <li class="logo1"><a href="#"><img src="static\image\acc.png" class="account"></a></li>




      </ul>
      
  </div>

    <div class="con">
      
      <div class="pagehead">
          <p>Resume Parser</p>
      </div>  
      <br>
     <div class="sub_con">
      <h2>Let's Find Talent For Your Orginazation</h2>
      <p>We help you to make this process easy</p>
    <a href="/upload2" action= "/upload" class="btn">  Let's Go  </a>  
     
    </div> 
    
     </div>     

    
</body>
</html>