<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/setting.css">
    <script src="https://kit.fontawesome.com/2360843bb3.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <ul>
            <li class="logo1"><a href="/"><i class="fa-brands fa-microsoft"></i></a></li>
            <li class="logo1"><a href="/upload2"><img src="static\image\4.png" class="home"></a></li>
            <li class="logo1"><a href="templates\table2.html"><img src="static\image\3.png" class="candiate"></a></li>
            <li class="logo1"><a href="/statistic"><img src="static\image\1.png" class="statistic"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\2.png" class="setting1"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\5.png" class="setting"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\acc.png" class="account"></a></li>
  
  
  
  
        </ul>
        
    </div>
</body>
</html>