<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='statistic.css') }}">
   <script src="https://kit.fontawesome.com/2360843bb3.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <ul>
            <li class="logo1"><a href="/home"><i class="fa-brands fa-microsoft"></i></a></li>
            <li class="logo1"><a href="/upload2"><img src="static\image\4.png" class="home"></a></li>
            <li class="logo1"><a href="/table"><img src="static\image\3.png" class="candiate"></a></li>
            <li class="logo1"><a href="/statistic"><img src="static\image\1.png" class="statistic"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\2.png" class="setting1"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\5.png" class="setting"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\acc.png" class="account"></a></li>
  
  
  
  
        </ul>
        
    </div>
    <div>
      <h2>Analysis</h2>
    </div>
    <div class="charts">
      <div class="chart-box">
         <div id="chart_div1" ></div> 
      </div>
      <div class="chart-box">
         <div id="chart_div2" ></div> 
      </div>
      <!-- <div class="chart-box">
         <div id="chart_div3" ></div> 
      </div> -->
      <!-- <div id="chart_div3" style="width: 40%; height: 40%;"></div>  -->

    </div>
    <script>
      
      
       


      // chart2

      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['Candiates', 'score',],
        ['Candiates1', 9.5],
        ['Candiates2', 9],
        ['Candiates3', 8],
        ['Candiates4', 7],
        ['Candiates5', 8]
      ]);

      var options = {
        title: 'Candiates score',
        chartArea: {width: '20%'},
        hAxis: {
          title: 'Candiates Score',
          minValue: 0
        },
        vAxis: {
          title: 'Candiates score'
        }
      };
      var options = {
           title: 'Company Performance',
           hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          // vAxis: {minValue: 0}
          'padding':20,
          'width':500,
          'height':200

         };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div1'));

      chart.draw(data, options);
    }

    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          'width':500,
          'height':200
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));

        chart.draw(data, options);
      }


      google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["Web developer", 8.94, "#b87333"],
        ["Andriod developer", 10.49, "silver"],
        ["Java developer", 19.30, "gold"],
        ["python developer", 21.45, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Number of candiates as per domain",
        width: 500,
        height: 200,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("chart_div2"));
      chart.draw(view, options);
  }
    </script>
</body>
</html>